/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Montserrat:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Six+Caps&family=Vampiro+One&display=swap');

/* global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-color: #D32E34;
}

header .heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px;
    letter-spacing: 1px;
}

header .header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 40px;
}

header .header_section .left_section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

header .header_section .left_section .title__ h1 {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
    margin-top: 15px;
}

header .header_section .left_section .date__ {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
    margin-top: 15px;
}



.right_section {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.image {
    width: 350px;
    height: 400px;
    position: relative;
}

.image .triangle {
    position: absolute;
    top: 58px;
    right: -80px;
    z-index: 5;
    transform: rotate(-57deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40.5px 0 43.5px 90px;
    border-color: transparent transparent transparent #fff;
}

.image img {
    width: 100%;
    height: 100%;
}

/* .down_arrow {
    position: relative;
    animation: myAnim 2s ease 0s infinite normal forwards;
} */

@keyframes myAnim {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.arrow_ {
    display: flex;
    justify-content: center;
    animation: myAnim 6s ease 0s infinite normal forwards;

}

.arrow_ img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

header .logos_ {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logos_ .spans {
    display: flex;
    justify-content: center;
}

header .logos_ .spans span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 2px;
}

header .logos_ .title__ {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
}

header .logos_ .title__ span {
    font-weight: bold;
}

.Tre-king {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
}

.hdk {
    font-family: 'Vampiro one', cursive;
    font-size: 30px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
}

.KraKen {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.5px;
}

/* main */

main {
    background-color: #fff;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

main .title_top h1 {
    font-family: 'Poppins', cursive;
    font-size: 50px;
    font-weight: 800;
    color: #D32E34;
    letter-spacing: 1.5px;
    text-align: center;
}

main .title_top .second__ {
    color: black;
    margin-top: -40px;
}

main .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* margin-top: 50px; */
}

main .content .left_content {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content .left_content h3 {
    text-align: center;
    font-family: 'Poppins', cursive;
    font-size: 25px;
    padding-left: 30px;
}

main .content .left_content h3 span {
    color: #D32E34;
}

main .content .left_content .paragraph__ {
    text-align: justify;
    font-family: 'Poppins', cursive;
    font-size: 15px;
    margin-top: 30px;
    word-spacing: 10px;
    padding-right: 55px;
    line-height: 2;
}

main .content .left_content .paragraph__ span {
    color: #D32E34;
}

main .content .left_content .margin__top {
    margin-top: 60px;
}



/* botton repeated */
.offer__ {
    font-family: 'poppins', sans-serif;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    color: white;
    background-color: black;
    padding: 10px 35px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

.offer__ h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.offer__ .text {
    margin-top: -8px;
}

main .right_content {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

main .right_content .img {
    width: 500px;
    height: 500px;
    position: relative;
    z-index: 1;
}

main .right_content .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -58px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 167.5px 400px 167.5px;
    border-color: transparent transparent #D32E34 transparent;
    transform: rotate(320deg);
    z-index: -1;
}

main .right_content .img img {
    width: 100%;
    height: 100%;
    z-index: 2;
}

main .right_content .date__ {
    position: absolute;
    bottom: 2%;
    right: 25%;
    background-color: #D32E34;
    padding: 10px;
    font-family: 'Poppins', cursive;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    letter-spacing: 1.5px;
    z-index: 3;
}

/* services */
.services {
    display: flex;
    margin-top: 50px;
}

.left_div {
    width: 8%;
    background-color: #D32E34;
    display: flex;
    justify-content: center;
    align-items: center;

}

.middle_div {
    width: 84%;
    background-color: #EEEDED;

}

.middle_div h1 {
    font-family: 'Poppins', cursive;
    font-size: 55px;
    font-weight: 800;
    color: #000;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 1;
    margin-top: -45px;
}

.middle_div h1 span {
    color: #D32E34;
}

.services .services__ {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}

.services .services__ .one-service {
    background-color: #D9D9D9;
    padding: 80px 10px 30px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    height: 100%;
}


.services .services__ .icon__ {
    position: absolute;
    width: 80px;
    /* top is middle of this after circle */
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    background-color: #D32E34;
    z-index: 3;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.services .services__ .icon__ div {
    width: 40px;
    height: 40px;
}

.services .services__ .icon__ div img {
    width: 100%;
    height: 100%;
}

.services .services__ .one-service h5 {
    font-family: 'Poppins', cursive;
    font-size: 15px;
    font-weight: 800;
    color: #1A1A1A;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.services .services__ .one-service p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.5;
    color: #000;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.service_card .secret_num {
    text-align: center;
    font-family: 'Poppins', cursive;
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
}

.middle_div .description__ {
    padding: 10px 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #1A1A1A;
    letter-spacing: 1.5px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.middle_div .button__ {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* TESTIMONIAL */

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 45px 50px;
}

.testimonial .left_text {
    width: 50%;
}

.testimonial .left_text h1 {
    font-family: 'Poppins', cursive;
    font-size: 45px;
    font-weight: 800;
    color: #000;
    letter-spacing: 1.5px;
    line-height: 1;
}

.testimonial .left_text .p-texts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 50px;
}

.testimonial .left_text .p-texts .textos {
    color: #1A1A1A;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.8;
    /* space between words */
    word-spacing: 4px;
    text-align: justify;
}

.testimonial .left_text .p-texts p span {
    color: #D32E34;
    font-weight: bold;
}

.testimonial .right_image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .right_image .image-holder {
    width: 300px;
    position: relative;
    margin-left: 50px;
}

.testimonial .right_image .image-holder::before {
    content: 'ME';
    position: absolute;
    z-index: 2;
    top: -30%;
    left: -20%;
    font-family: 'Six Caps', sans-serif;
    font-size: 250px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #D32E34;
    text-shadow: 2px 2px 0px #ffffff;

}

.testimonial .right_image .image-holder::after {
    content: 'HDI';
    position: absolute;
    z-index: 2;
    bottom: -30%;
    right: -13%;
    font-family: 'Six Caps', sans-serif;
    font-size: 250px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E71515;

}

.testimonial .right_image .image-holder img {
    width: 100%;
    height: 100%;
}

.red_one {
    background-color: #D32E34;
    color: #fff !important;
}

/* footer */
footer {
    background-color: #000;
    padding: 40px 80px;
}

footer .img {
    display: flex;
    justify-content: center;
}

footer .links {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px;
}

footer .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: #fff;
}

footer .links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer .links ul li a:hover {
    color: #D32E34;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}

footer p:first-of-type {
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer p:last-of-type {
    color: #D32E34;
    font-weight: bold;
}